<section id="itinerary" class="p-2 md:p-10 w-full bg-[#D2D2D2] object-cover text-black">
  <div class="p-10 relative p-2">
    <span class="bg-black rounded-[4px] pt-2 pr-3 pb-2 pl-3 text-lg text-white px-6 py-3 font-medium font-sans mb-8 align-center">
      Itinerarios
    </span>
    <div class="grid grid-cols-1 md:grid-cols-[auto_1fr] gap-6">
      <h1 class="text-6xl md:text-[140px]/[80%] text-pretty font-normal font-[Instrument_Serif] mt-4 mb-2">4 modalidades</h1>
      <p class="font-sans text-balance mt-12 ml-12 w-3/5">Puedes escoger el que mejor te encaje, o todos y convertirte en un máster del universo de la participación.</p>
    </div>
    <div class="mt-8 grid grid-cols-1 sm:grid-cols-4 gap-6"><div class="flex flex-col items-center">
        <img src="/assets/img/itinerary_1.jpeg" alt="Facilitación" class="w-full h-full object-cover mb-4 rounded-md">
        <p class="text-2xl text-center">Facilitación</p>
      </div>
      <div class="flex flex-col items-center">
        <img src="/assets/img/itinerary_2.jpeg" alt="Participación digital" class="w-full h-full object-cover mb-4 rounded-md">
        <p class="text-2xl text-center">Participación digital</p>
      </div>
      <div class="flex flex-col items-center">
        <img src="/assets/img/itinerary_3.jpeg" alt="Investigación creativa" class="w-full h-full object-cover mb-4 rounded-md">
        <p class="text-2xl text-center">Investigación creativa</p>
      </div>
      <div class="flex flex-col items-center">
        <img src="/assets/img/itinerary_4.jpeg" alt="Incidencia ciudadana" class="w-full h-full object-cover mb-4 rounded-md">
        <p class="text-2xl text-center">Incidencia ciudadana</p>
      </div>
    </div>
  </div>
</section>
