<section id="program" class="grid grid-cols-[30%_60%] md:gap-5 p-2 md:p-10 w-full bg-[#D2D2D2] object-cover text-black">
  <div class="p-10 relative p-2">
    <span class="bg-black rounded-[4px] pt-2 pr-3 pb-2 pl-3 text-lg text-white px-6 py-3 font-medium font-sans mb-8">
      Programa
    </span>
    <h1 class="text-9xl md:text-[140px]/[80%] text-pretty font-normal mt-4 mb-2 font-[Instrument_Serif]">¿Qué?</h1>
  </div>
  <div class="p-10 relative p-2">
    <div class="border-t border-solid border-black grid grid-cols-[5rem_1fr] gap-8 pt-4">
      <p class="text-right">Módulo 1</p>
      <div>
        <p class="text-xl">El vértigo del diálogo y la deliberación, ¿queda tiempo para el consenso?</p>
      </div>
      <p class="text-right">a)</p>
      <div>
        <p class="text-xl">Democracia creativa</p>
        <p class="text-pretty mt-2">Explora las formas que a lo largo de la historia han servido para adquirir derechos sociales, poniendo el foco en la creatividad</p>
      </div>
    </div>
    <div class="border-t border-solid border-black grid grid-cols-[5rem_1fr] gap-8 pt-4 mt-4">
      <p class="text-right">b)</p>
      <div>
        <p class="text-xl">Decidir cambios con palabras</p>
        <p class="text-pretty mt-2">Analiza las falacias antidemocráticas y los condicionamientos cognitivos que dificultan la participación política</p>
      </div>
    </div>
    <div class="border-t border-solid border-black grid grid-cols-[5rem_1fr] gap-8 pt-4 mt-4">
      <p class="text-right">c)</p>
      <div>
        <p class="text-xl">La deliberación puesta en práctica</p>
        <p class="text-pretty mt-2">Aprende a diseñar diálogos y asambleas ciudadanas en la diversidad, haciendo hincapié en la diferencia entre deliberar y dialogar</p>
      </div>
    </div>
    <div class="border-t border-solid border-black grid grid-cols-[5rem_1fr] gap-8 pt-4 mt-4">
      <p class="text-right">Módulo 2</p>
      <div>
        <p class="text-xl">Facilitar la co-creación de políticas públicas con los afectados</p>
        <p class="text-pretty mt-2">Explora el poder de las emociones en la práctica democrática y el Teatro Legislativo para transformar conflictos sociales en propuestas</p>
      </div>
    </div>
    <div class="border-t border-solid border-black grid grid-cols-[5rem_1fr] gap-8 pt-4 mt-4">
      <p class="text-right">Módulo 3</p>
      <div>
        <p class="text-xl">Tecnologías radicales: democracia digital para un mundo roto</p>
        <p class="text-pretty mt-2">Hackea las herramientas tecnológicas para diseñar procesos de participación y deliberación digital</p>
      </div>
    </div>
    <div class="border-t border-solid border-black grid grid-cols-[5rem_1fr] gap-8 pt-4 mt-4">
      <p class="text-right">Módulo 4</p>
      <div>
        <p class="text-xl">Investigar para desarmar: la creatividad como herramienta de conocimiento</p>
        <p class="text-pretty mt-2">Conoce otras formas de investigación y poner en evidencia el papel de investigador a la hora de sacar sus propias conclusiones</p>
      </div>
    </div>
    <div class="border-t border-solid border-black grid grid-cols-[5rem_1fr] gap-8 pt-4 mt-4">
      <p class="text-right">Módulo 5</p>
      <div>
        <p class="text-xl">El audiovisual como instrumento para activar debates sociales</p>
        <p class="text-pretty mt-2">Pon el foco en la comunicación para la transformación social y las estrategias de incidencia ciudadana que podemos llevar a cabo desde la sociedad civil</p>
      </div>
    </div>
  </div>
</section>
